<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.expensetrackerforuniversitystudent">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExpenseTrackerForUniversityStudent">
        <activity android:name=".budgetActivity" />

        <activity android:name=".MainActivity_ToDo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivityExpenses"/>

        <!--        pasindu-->
        <activity android:name=".QandA"/>
        <activity android:name=".SubmitAnswers" />
        <activity android:name=".Answers" />
        <activity android:name=".EditQuestion" />
        <activity android:name=".AddQuestion"/>

        <!-- Rishan-->
        <activity android:name=".ResetPassword" />
        <activity android:name=".ToDo_Home_New" />
        <activity android:name=".Register" />
        <activity android:name=".Log_in">

        </activity>

        //harindu
        <activity android:name=".activity.ResultActivity"
            android:theme="@style/AppThemeBar"
            />
        <activity android:name=".activity.SetsActivity" />
        <activity android:name=".activity.CategoryActivity" />
        <activity android:name=".SplashActivity">
        </activity>
        <activity android:name=".activity.QuizActivity"
            android:theme="@style/AppThemeBar"
            />



    </application>

</manifest>